{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit page</h1>
    <form action="{%url 'save_edit_page'%}" method="POST">
        {% csrf_token %}
        <p><label>Header:</label></p>
        <p><input type="text" name="header" placeholder="Enter header" value="{{title}}"></p>
        <br>
        <p><label>Markdown content:</label></p>
        <textarea name="content">{{content}}</textarea>
        <br>
        <input type="submit" value="edit">
    </form>
{% endblock %}